<section class="w-4/5 flex flex-col items-center z-10">
  <div class="flex flex-col items-center text-center mb-[1.5rem]">
    <h3 class="text-[2rem]">Unlock Your Company's Potential: Host Your Next Job Opportunity Here!</h3>
    <p class="text-[1.6rem] hidden sm:block">Ready to expand your team? Click below to effortlessly post your job opening and connect with top talent. Streamline your hiring process and find the perfect fit for your company's growth. Let's build together</p>
  </div>
  <a href="{% url 'jobs:create_job' %}" class="bg-[#5CA5A5] rounded-full px-[1.5rem] py-[0.5rem] text-[1.6rem] text-white">Host a job</a>
</section>
