<div class="flex flex-col">
  <input class="peer text-[1.6rem] placeholder:text-transparent focus:outline-none border-b-[0.1rem]" type="{{ type }}" id="{{ id }}" name="{{ name }}" value="{{ value }}" placeholder="{{ placeholder }}" />
  <label class="text-[1.6rem] absolute translate-y-[-2rem] duration-100 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:text-[1.6rem] text-gray-500 peer-focus:translate-y-[-2rem] peer-focus:text-[1.2rem]" for="{{ id }}">{{ placeholder }}</label>
</div>
