{% load static %}

<section class="bg-primary-purple text-secondary-text flex flex-col items-center pt-[6.3rem] pb-[5rem] px-[2rem]">
    <h2 class="text-[3.6rem] font-epilogue mb-[4.5rem] text-center font-extrabold">Start Hiring:
Sign Up and Connect with Top Talent</h2>
    <img src="{%  static 'job_portal/svg_icons/index/resume.svg' %}" alt="resumes" class="mb-[5rem]" />
    <a class="w-full text-center text-[2rem] font-semibold bg-secondary-purple text-primary-purple py-[1.4rem]" href="{% url 'users:register_user' %}?user_type=company">Sign Up for Free</a>
</section>
