{% load static %}

<section class="bg-blue-darkest text-secondary-text flex flex-col items-center pt-[6.3rem] pb-[5rem] px-[2rem] w-full max-w-[1440px] lg:pt-[120px]">
    <div class="relative w-full flex flex-col items-center">
        <img src="{%  static 'job_portal/svg_icons/index/resume.svg' %}" alt="resumes" class="mb-[5rem] hidden lg:block lg:absolute lg:left-[50px] w-full max-w-[320px]" />
        <div class="flex flex-col items-center max-w-[650px] lg:mb-[100px]">
            <h2 class="text-[3.6rem] font-epilogue mb-[4.5rem] text-center font-extrabold lg:mb-[10rem]">Start Hiring:
Sign Up and Connect with Top Talent</h2>
            <img src="{%  static 'job_portal/svg_icons/index/resume.svg' %}" alt="resumes" class="mb-[5rem] lg:hidden" />
            <a class=" max-w-[250px] w-full text-center text-[2rem] font-semibold bg-blue-light text-blue-primary py-[1.4rem]" href="{% url 'users:register_user' %}?user_type=company">Sign Up for Free</a>
        </div>
        <img src="{%  static 'job_portal/svg_icons/index/cards.svg' %}" alt="business cards" class="mb-[5rem] hidden lg:block lg:absolute lg:right-[30px] w-full max-w-[645px]" />
    </div>
</section>
