<form class="bg-secondary-text p-[2rem] flex flex-col gap-[2rem] rounded-[5px]">
    <div>
        <label class="flex items-center gap-[1.8rem]">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.692 16.6823L24.25 24.25M19.25 10.5C19.25 15.3325 15.3325 19.25 10.5 19.25C5.66751 19.25 1.75 15.3325 1.75 10.5C1.75 5.66751 5.66751 1.75 10.5 1.75C15.3325 1.75 19.25 5.66751 19.25 10.5Z" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <input class="text-[2rem] text-form-text font-light border-b-2 border-form-text outline-none" name="job-title" type="text" placeholder="Job title" />
        </label>
    </div>
     <div>
        <label class="flex items-center gap-[1.8rem]">
              <svg width="21" height="26" viewBox="0 0 21 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.6447 24.1C15.0197 19.6 19.3947 15.5705 19.3947 10.6C19.3947 5.62944 15.4772 1.60001 10.6447 1.60001C5.81226 1.60001 1.89474 5.62944 1.89474 10.6C1.89474 15.5705 6.26974 19.6 10.6447 24.1Z" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <input class="text-[2rem] text-form-text font-light border-b-2 border-form-text outline-none" name="location" type="text" placeholder="Location" />
        </label>
    </div>
    <button class="bg-primary-purple text-secondary-text py-[1.2rem] text-[2rem] font-semibold" type="submit">Search</button>
</form>