@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-text: #2b3939;
  --secondary-text: ##5ca5a5;
  --main-background: rgba(92, 165, 165, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #effafa;
}
