{% load static %}

<section class="pt-[4rem] mx-[2rem] pb-[6rem]">
    <h1 class="font-epilogue text-[3rem] mb-[3.7rem] text-main-text font-extrabold">Discover your next role in the tech revolution with us</h1>
    <img src="{%  static 'job_portal/svg_icons/index/website.svg' %}" alt="woman at a computer" class="mb-[1.5rem]"/>
    <p class="text-[2rem] mb-[4.4rem]">Unlock your next opportunity with the tech industry's top jobs and talent.</p>
    {% include 'job_portal/partials/hero/_jobsearch_form.html' %}
</section>