{% load static %}

<section class="w-full flex flex-col items-center pt-[4rem] mx-[2rem] pb-[6rem] lg:flex-row lg:mx-[15rem] lg:gap-[5rem] lg:justify-center lg:h-[80vh] lg:max-h-[800px] max-w-[1440px] bg-secondary-purple">
    <div class="max-w-[560px]">
        <h1 class="font-epilogue text-[3rem] mb-[3.7rem] text-main-text font-extrabold lg:text-[48px]">Discover your next role in the tech revolution with us</h1>
        <img src="{%  static 'job_portal/svg_icons/index/website.svg' %}" alt="woman at a computer" class="mb-[1.5rem] lg:hidden"/>
        <p class="text-[2rem] mb-[4.4rem] lg:text-[32px]">Unlock your next opportunity with the tech industry's top jobs and talent.</p>
    </div>
    <div class="w-full lg:relative lg:w-auto">
        <img src="{%  static 'job_portal/svg_icons/index/website.svg' %}" alt="woman at a computer" class="hidden mb-[1.5rem] lg:block lg:max-w-[515px]"/>
        <div class="lg:absolute lg:top-[7rem] lg:left-[4rem]">
            {% include 'job_portal/partials/hero/_jobsearch_form.html' %}
        </div>
    </div>
</section>