{% extends 'base.html' %}
{% block content %}
  <div class="flex flex-col items-center">
    <form method="POST" class="w-4/5 bg-white rounded-lg p-[2rem]">
      {% csrf_token %}
      <div class="flex gap-[2rem] mb-[2rem]">
      {% for value, label in profile_form.user_type.field.choices %}
            <div class="flex items-center gap-[0.5rem]">
                <input type="radio" id="id_choice_field_{{forloop.counter}}" name="choice_field" value="{{ value }}" class="form-radio h-5 w-5 text-blue-600" {% if form.choice_field.value == value %} checked {% endif %}>
                <label for="id_choice_field_{{forloop.counter}}" class="text-[1.6rem]">{{ label }}</label> 
            </div>
      {% endfor %}
      </div>
      <div>
        <label for="{{ profile_form.username.id_for_label }}" class="text-[1.6rem]" >{{ profile_form.username.label }}</label>
        <input type="text" id="{{ profile_form.username.id_for_label }}" class="text-[2rem]" name="username" />
      </div>
      <div>
        <label for="{{ profile_form.email.id_for_label }}" class="text-[1.6rem]" >{{ profile_form.email.label }}</label>
        <input type="email" id="{{ profile_form.email.id_for_label }}" class="text-[2rem]" name="email" />
      </div>
      <div>
        <label for="{{ profile_form.password1.id_for_label }}" class="text-[1.6rem]" >{{ profile_form.password1.label }}</label>
        <input type="password" id="{{ profile_form.password1.id_for_label }}" class="text-[2rem]" name="password1" />
      </div>
      <div>
        <label for="{{ profile_form.password2.id_for_label }}" class="text-[1.6rem]" >{{ profile_form.password2.label }}</label>
        <input type="password" id="{{ profile_form.password2.id_for_label }}" class="text-[2rem]" name="password2" />
      </div>
      
      {% comment %} <div class="flex flex-col">{{ profile_form.user_type.label_tag }}
        {{ profile_form.user_type }}</div>
      <div class="flex flex-col">{{ profile_form.username.label_tag }}
        {{ profile_form.username }}</div>
      <div class="flex flex-col">{{ profile_form.email.label_tag }}
        {{ profile_form.email }}</div>
      <div class="flex flex-col">{{ profile_form.password1.label_tag }}
        {{ profile_form.password1 }}</div>
      <div class="flex flex-col">{{ profile_form.password2.label_tag }}
        {{ profile_form.password2 }}</div> {% endcomment %}
      {% include 'partials/_submit_button.html' with value="Create profile" %}
    </form>
  </div>
{% endblock %}
