{% extends 'base.html' %}
{% block content %}
  <div class="flex flex-col items-center">
    <form method="POST" class="w-4/5 bg-white rounded-lg p-[2rem]">
      {% csrf_token %}
      <div class="flex flex-col">{{ profile_form.user_type.label_tag }}
        {{ profile_form.user_type }}</div>
      <div class="flex flex-col">{{ profile_form.username.label_tag }}
        {{ profile_form.username }}</div>
      <div class="flex flex-col">{{ profile_form.email.label_tag }}
        {{ profile_form.email }}</div>
      <div class="flex flex-col">{{ profile_form.password1.label_tag }}
        {{ profile_form.password1 }}</div>
      <div class="flex flex-col">{{ profile_form.password2.label_tag }}
        {{ profile_form.password2 }}</div>
      {% include 'partials/_submit_button.html' with value="Create profile" %}
    </form>
  </div>
{% endblock %}
