<footer class="px-[2rem] py-[4rem]">
    <div class="text-[2rem]">
        <p class="mb-[2.6rem] font-extrabold font-epilogue">DevJob Portal</p>
        <p class="mb-[2.6rem] font-light">Connecting top talent with leading companies worldwide.</p>
        <ul class="flex flex-col gap-[2.6rem] font-light mb-[4rem]">
            <li><a href="#">Companies</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Private Policy</a></li>
        </ul>
        {% include 'partials/forms/_newsletter-form.html' %}
        <p class="text-center text-[1.4rem] mt-[2.4rem]">2024 &copy; DevJobPortal. All Rights Reserved.</p>
    </div>
</footer>