<footer class="w-full text-white lg:max-w-[1440px] px-[2rem] py-[4rem] bg-blue-darkest lg:flex lg:px-[170px] lg:justify-between lg:py-[8rem]">
    <div class="text-[2rem]">
        <p class="mb-[2.6rem] font-extrabold font-epilogue lg:text-[32px]">DevJob Portal</p>
        <p class="mb-[2.6rem] font-light lg:text-[24px]">Connecting top talent with leading companies worldwide.</p>
        <ul class="flex flex-col gap-[2.6rem] font-light mb-[4rem]">
            <li><a href="#">Companies</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Private Policy</a></li>
        </ul>
    </div>
    <div class="w-full lg:max-w-[380px] lg:mt-[4rem]">
            {% include 'partials/forms/_newsletter-form-dark.html' %}
            <p class="text-center text-[18px] mt-[2.4rem]">2024 &copy; DevJobPortal. All Rights Reserved.</p>
        </div>
</footer>