{% extends 'base.html' %}
{% block content %}
  <section class="w-[90%] mt-[5rem] mx-auto max-w-[400px] flex flex-col items-center p-[2.4rem] rounded-[0.8rem] bg-white">
    <h1 class="text-[2rem] font-bold">Create a job</h1>
    <form method="POST" class="text-[1.6rem]">
      {% csrf_token %}
      {{ form }}
      {% include 'job_portal/partials/_form_floating_input.html' with type="text" name="position" id="position" placeholder="Position" value=form.position.value|default_if_none:'' %}
   
      {% include 'job_portal/partials/_form_floating_input.html' with type="text" name="location" id="location" placeholder="Location" value=form.location.value|default_if_none:'' %}
      {% include 'job_portal/partials/_form_floating_input.html' with type="number" name="salary" id="salary" placeholder="Salary" value=form.salary.value|default_if_none:'' %}
      
      {% include 'job_portal/partials/_submit_button.html' with value='Create Job' %}
    </form>
  </section>
{% endblock %}
