{% extends 'base.html' %}
{% block content %}
{% if user.user_type|lower == 'company' or user.is_superuser %}
  <div class="flex flex-col items-center bg-white p-[2.4rem]">
    {% include 'job_portal/partials/_company_banner.html' %}
  </div>
{% endif %}
{% if messages %}
  <ul class="flex flex-col w-full bg-white p-[1rem] items-center">
    {% for message in messages %}
      <li class="text-[1.6rem] text-[#5CA5A5] font-bold ">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<section>
  <ul class="flex flex-col gap-[4rem] items-center mt-[5rem]">
    {% for job_listing in job_listings %}
    <li class="w-4/5">{% include "job_portal/partials/_job_item.html" with job_listing=job_listing %}</li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
