<div class="relative flex flex-col gap-[1rem]">
  <input
    class="peer text-[20px] placeholder:text-transparent focus:outline-none border-b-[0.1rem]"
    type="{{ type }}"
    id="{{ id }}"
    name="{{ name }}"
    value="{{ value }}"
    placeholder="{{ placeholder }}"
    required
  />
  <label
    class="absolute text-[15px] text-form-text translate-y-[-2.4rem] duration-200 ease-in-out peer-placeholder-shown:translate-y-0 peer-placeholder-shown:text-[20px] peer-focus:translate-y-[-2.4rem] peer-focus:text-[15px]"
    for="{{ id }}"
    >{{ placeholder }}</label
  >
</div>