<form
    method="POST"
    class="w-[90%] max-w-[400px] bg-white rounded-[0.8rem] p-[3rem] shadow-lg"
    novalidate
    enctype="multipart/form-data"
>
    {% csrf_token %}
    <h1 class="text-[3.2rem] text-main-text font-epilogue font-bold text-center mb-[18px]">Sign Up</h1>
    <div class="flex flex-col gap-[3rem] mb-[3rem]">
        {% include 'partials/forms/inputs/_floating_input.html' with type="text" name="first_name" id="first_name" placeholder="First Name" value=client_form.username.value|default_if_none:'' %}
        {% include 'partials/forms/inputs/_floating_input.html' with type="text" name="last_name" id="last_name" placeholder="Last Name" value=client_form.last_name.value|default_if_none:'' %}
        {% include 'partials/forms/inputs/_file_upload.html' with label="CV" id="cv" %}
    </div>
    <button class="block bg-primary-purple text-center text-secondary-text w-full py-[1.2rem] text-[2rem] font-semibold mb-[18px]" type="submit">Create Client Profile</button>
</form>