<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# Favicons #}
    <link href="{% static 'svg_icons/favicon-light.svg' %}" rel="icon" media="{prefers-color-scheme: light)" />
    <link href="{% static 'svg_icons/favicon-dark.svg' %}" rel="icon" media="(prefers-color-scheme: dark)"/>

    <title>
      {% block title %} Dev Job Portal {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% block inline_styles %}{% endblock %}
  </head>
  <body>
    {% include 'partials/header/_header.html' %}
    {% block content %}{% endblock %}
    {% if footer_theme == 'dark' %}
        {% include 'partials/footer/_footer-dark.html' %}
    {% else %}
        {% include 'partials/footer/_footer-light.html' %}
    {% endif %}
    {% block scripts %}{% endblock %}
  </body>
</html>
