@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

root {
  --main-text: #2b3939;
  --secondary-text: #5ca5a5;
  --main-background: #2b3939;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "League Spartan", sans-serif;
}

body {
  background-color: #effafa;
}
