@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-text: #1D1C1C;
  --secondary-text: #fff;
  --form-text: #979797;
  --primary-purple: #6100FF;
  --secondary-purple: #ECE8FF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--secondary-purple);
}
