<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %} Joblistings (Frontend Mentor) {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="relative">
      {% include 'joblisting/partials/_header.html' %}
      <img
        class="bg-[#5ca5a5] w-screen"
        src="{% static 'images/bg-header-mobile.svg' %}"
        alt="background"
      />
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
